* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Monteserrat", sans-serif;
  margin-bottom: 100px;
}

a:link {
  text-decoration: none;
  color: #eee;
}
a {
  color: #eee;
}
/* .bottom {
  margin-bottom: 100px;
} */
